
.flexy{
  display: flex !important;
}
:where(.ant-layout-header ){
  padding: 0 15px !important;
}
.bgn-2{
  background: #ededed;
}
.bgn-1{
  background: #d9d4d0;
}
@media(max-width: 767px){
  .flexy{
    display: block !important;
  }
  .bgn-2{
    background:transparent;
  }
  .bgn-1{
    background: transparent;
  }
  .content-blk{
    margin-bottom: 1rem;
  }
  .sliderImg{
    padding: 0 !important;
    border-radius: 0 !important;
  }
}